@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Fuzzy+Bubbles:wght@400;700&family=Gloria+Hallelujah&family=Gochi+Hand&family=Kristi&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100&family=Nothing+You+Could+Do&family=Oooh+Baby&family=Reenie+Beanie&family=Shadows+Into+Light&family=Yeseva+One&display=swap');

div.contact {
    height: 100vh;
}

form#contact-form {
    /* background-color: rgba(255,255,255, .7); */
    width: 45vw;
    height: 40vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 80px auto;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.11);
}

#contact-form label {
    font-family: 'Montserrat', sans-serif;
}

#contact-form input {
    font-family: 'Montserrat', sans-serif;
    border-style: none;
    background-color: white;
    width: 100%;
    height: 25px;
    margin: 5px 0;
    border-radius: 5px;
}

#contact-form textarea {
    border-style: none;
    background-color: white;
    width: 100%;
    margin: 5px 0;
    resize: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

button.btn-primary {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border-style: none;
    padding: 8px 20px;
    border-radius: 10px;
    margin: 20px 0 0 0;
    align-self: center;
}