img.about {
    width: 370px;
    height: 370px;
    object-fit: cover;
    margin-right: 50px;
    margin-left: 45px;
    margin-bottom: 25px;
    margin-top: 30px;
    border-radius: 50%;
    float: right;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(252, 248, 246);
}

div.about {
    display: flex;
    height: 100vh;
    flex-direction: row;
    padding: 20px;
    box-sizing: border-box;
}

div.info {
    padding: 0 40px;
    text-align: left;
}

div.inline {
    display: flex;
    flex-direction: row;

}

h2 {
    font-size: 65px;
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
}

h3.i-value {
    font-size: 30px;
    font-weight: 300;
    background: none;
    margin: 3px 5px;
}

h3.sub-link {
    color: rgb(250, 160, 133);
    font-size: 25px;
}

.animation:after {
    content: 'humility';
    animation: values 20s  infinite;
}

p {
    font-size: 23px;
    font-weight: 200;
    margin-left: 6px;
}

p.pipe {
    margin: 0 8px;
    font-size: 28px;
}

span.bold-me {
    font-weight: 300;
    font-style: italic;
}

span.underline {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    
}

@keyframes values {
    0% {
        color: rgb(250, 160, 133);
        content: 'minimalism';
        
    }
    10% {
        content: 'exceptional user experience';
    }
    20% {
        content: 'challenge';
    }
    30% {
        content: 'growth'
    }
    40% {
        content: 'global connection';
        color: rgb(250, 160, 133);
    }
    50% {
        content: 'eco-consciousness';
    }
    60% {
        content: 'exploration';
    }
    70% {
        content: 'interactivity';
    }
    80% {
        content: 'embracing the unknown';
        color: rgb(250, 160, 133);
    }
    90% {
        content: 'creative experimentation';
    }
}